body {
  display: flex;
  background-color: tomato;

  justify-content: center;
  align-items: center;

  height: 100vh;
}

.background {
  display: flex;
  flex-direction: column;
  background-color: thistle;
  height: 500px;
  width: 500px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}

.inner {
  background-color: green;
  height: 100px;
  margin: 15px;
}

.small {
  width: 100px;
  border: 2px solid white;
}

.long {
  width: 350px;
  border: 2px dotted white;
}
