body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 194, 194);
  font-family: "Nanum Pen Script", cursive;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 1000px;
  width: 1000px;
}

.main-screen {
  height: 800px;
  width: 350px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;

  position: relative;
}

.navigation-bar {
  margin: 30px 20px;
  display: flex;
}

.navigation-bar__icon {
  width: 50%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.info-with-picture {
  margin: 20px 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info-with-picture__cover-pic {
  border-radius: 50%;
}

.info-with-picture__main-info {
  font-size: 20px;
  font-weight: 700;
}

.info-with-picture__extra-info {
  font-size: 15px;
  opacity: 30%;
}

.buttons-container {
  margin: 0px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ellipse {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 5px gray;
}

.ellipse:first-child {
  background-color: black;
  color: white;
}

.ellipse:last-child {
  display: flex;
  justify-content: space-evenly;
}

.ellipse:last-child span {
  opacity: 40%;
}

.playlist {
  margin: 20px 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 350px;
}

.song-display {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 20px;
}

.song-display__info-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.song-display__info-container .artist {
  opacity: 40%;
  font-size: 15px;
}

.song-display__info-container .title {
  font-weight: 700;
}

.song-display > img {
  border-radius: 10px;
}

.song-display:nth-child(2) {
  box-shadow: 0px 0px 20px gray;
  border-radius: 10px;
}

.control-box {
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 25px;
  background-color: rgba(0, 0, 0, 0.932);
  border-radius: 50px;
  position: absolute;
  bottom: 15px;
}

.control-box__info-container {
  margin-left: 30px;
  display: flex;
  flex-direction: column;

  color: white;
}

.control-box__info-container .artist {
  opacity: 40%;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  color: white;
  width: 30%;
}
