body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 194, 194);
  font-family: "Nanum Pen Script", cursive;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 1000px;
  width: 1000px;
}

.main-screen {
  height: 800px;
  width: 350px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;

  position: relative;
}

.navigation-bar {
  margin: 30px 20px;
  display: flex;
}

.navigation-bar__icon {
  width: 50%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.info-with-picture {
  margin: 20px 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info-with-picture__cover-pic {
  border-radius: 50%;
  box-shadow: 5px 5px 20px rgb(239, 221, 197);
}

.info-with-picture__main-info {
  font-size: 20px;
  font-weight: 700;
}

.info-with-picture__extra-info {
  font-size: 15px;
  opacity: 30%;
}

.buttons-container {
  margin: 0px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ellipse {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 5px gray;
}

.ellipse:first-child {
  background-color: black;
  color: white;
}

.ellipse:last-child {
  display: flex;
  justify-content: space-evenly;
}

.ellipse:last-child span {
  opacity: 40%;
}

.playlist {
  margin: 20px 20px;
  box-sizing: border-box;
}

.song-display {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.song-display__info-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.song-display > i {
  opacity: 40%;
}

.song-display__info-container .artist {
  opacity: 40%;
  font-size: 15px;
}

.song-display__info-container .title {
  font-weight: 700;
}

.song-display > img {
  border-radius: 10px;
}

.song-display:nth-child(2) {
  box-shadow: 0px 0px 20px gray;
  border-radius: 10px;
}

.control-box {
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 25px;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 50px;
  position: absolute;
  bottom: 15px;
}

.control-box__info-container {
  margin-left: 30px;
  display: flex;
  flex-direction: column;

  color: white;
}

.control-box__info-container .artist {
  opacity: 40%;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  color: white;
  width: 30%;
}

.empty {
  height: 75px;
}

.info-with-picture__wild-flower {
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(213, 210, 193);
}

.info-with-picture-second-screen {
  margin: 20px 20px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-with-picture-second-screen img {
  margin: 60px;
}

.info-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.info-container__title {
  font-weight: 800;
  font-size: 25px;
}

.info-container__artist {
  opacity: 40%;
}

.time {
  display: flex;
  margin: 0px 25px;
  justify-content: space-between;
  opacity: 40%;
}

.song-progress {
  display: flex;
  margin: 5px 25px;
  align-items: center;
  position: relative;
}

.song-progress__played {
  height: 4px;
  width: 20%;
  background-color: black;
  border-radius: 3px;
}

.song-progress__current {
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 58px;
}

.song-progress__left {
  height: 3px;
  width: 80%;
  background-color: black;
  border-radius: 3px;
  opacity: 20%;
}

.second-screen {
  color: black;
  width: 80%;
  margin: 100px 35px;
  font-size: 20px;
}

.fa-exchange-alt,
.fa-random {
  opacity: 30%;
}

.circle {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

.fa-play {
  color: white;
}
